* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  line-height: 1.4;
  padding: 20px 40px;
}

.container {
  max-width: 1200px;
}

.heading-1 {
  font-size: 40px;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 40px;
  line-height: 1.1;
  margin-bottom: 20px;
  color: crimson;
}

.heading-3 {
  font-size: 20px;
  text-transform: uppercase;
  color: crimson;
  margin-bottom: 10px;
}
.heading-4{
  font-size: 18px;
  text-transform: uppercase;
  color: crimson;
  margin-bottom: 10px;

}
.sub-heading {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.sub-heading p {
  font-weight: 700;
  text-transform: capitalize;
  margin-right: 10px;
}

.sub-heading span {
  color: #555;
  font-weight: 300;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.sub-heading .importent {
  color: crimson;
  text-transform: uppercase;
  font-weight: 300;
}

.home {
  display: inline-grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.home-img {
  width: 100%;
}

/* ARTICLE */
article > p {
    color: black;
    text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

article p:first-child::first-line {
  font-weight: 700;
  font-size: 25px;
}

.cards {
    color: black;
  columns: 25ch 3;
  gap: 40px;
  margin-bottom: 40px;
}

.card {
  font-size: 20px;
  border: 1px solid;
  padding: 10px 20px;
  break-inside: avoid;
}

@media (max-width: 950px) {
  .home {
    grid-template-columns: 1fr;
  }

  .lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .list {
    grid-template-columns: 1fr 5fr;
  }

  .card {
    margin-bottom: 40px;
  }
}

@media (max-width: 650px) {
  .lists {
    grid-template-columns: 1fr;
  }

*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
}

*.container{
background: url() no-repeat; 
  background-size: cover;
  padding: 100px 40px;
  text-align: center;
  color: black;
}
.container p {
  max-width: 600px;
  margin: 40px auto;
  font-size: 15px;
  font-weight: 300;
}
.email-box{
  height: 40px;
  justify-content: center;
  display: inline-flex;
}
.email-box i{
  background: #2f3542;
  width: 40px;
  line-height: 40px;
}
.tbox,.btn{
  border: none;
  outline: none;
}
.tbox{
  width: 0px;
  transition: 0.6s;
}
.email-box:hover > .tbox,.tbox:focus{
  width: 260px;
  padding: 0 10px;
}
.btn{
  background: #2f3542;
  color: white;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
}
